.bg-dark-transparent {
    background-color: rgb(0, 0, 0, 0.7) !important;
}

.bg-light-transparent {
    background-color: rgb(255, 255, 255, 0.7) !important;
}

w-calc {
    width: (100%-15%) !important;
}